/* fonts.css */
@font-face {
    font-family: 'FF Clan Pro';
    src: url('FFClanProRegular.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FF Clan Pro';
    src: url('FFClanProItalic.woff2') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FF Clan Pro';
    src: url('FFClanProBold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FF Clan Pro';
    src: url('FFClanProMedium.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FF Clan Pro';
    src: url('FFClanProUltIt.woff2') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}